.app-list.content-box {
  padding: 0px;
  border: 0px;
  position: relative;
  margin-left: 0px;
}

.app-list {
  background: #fff;
  border-radius: 3px;
  padding: 25px 30px;
  position: relative;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.app-list.content-box .integration-icon {
  border-radius: 2px;
  width: 44px;
  height: 35px;
  box-shadow: none;
}

.integration-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  display: block;
  position: absolute;
}

img {
  vertical-align: middle;
}

.app-list.content-box .integration-detail {
  margin-left: 60px;
}

.app-list.content-box.price-detail .integration-detail h3 {
  width: calc(100% - 75px);
  margin-right: 0px;
  display: inline-block;
  vertical-align: middle;
}

div .side-nav-style{
  border-left: 3px solid #1F4886;
}

.app-list.content-box .app-price {
  width: 70px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  color: #4199D8;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding-left: 5px;
}

a {
  color: inherit;
}
