<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-5">
      <div class="container login">
        <div class="text-center pb-25">
          <img src="../../../../assets/images/logo_blue.png" alt="" />
        </div>
        <div class="text-center login-container">
          <h2>LOG IN</h2>
          <p class="mt-4">Log in into your Account</p>
        </div>
        <div class="text-center">
          <p class="error-message" *ngIf="IsInvalid">{{errorMessage}}</p>
        </div>
        <div class="row mt-4">
          <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="formGroup" class="login-form" (validSubmit)="onSubmit()">
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" placeholder="Email" formControlName="Email">
              </div>
              <div class="form-group">
                <label class="control-label">Password</label>
                <div class="input-group mt-4">
                  <input class="form-control" [type]="isPasswordShow ? 'text' : 'password'" placeholder="Password"
                    formControlName="Password">
                  <span class="toggle-password" [ngClass]="isPasswordShow ? 'icon-hide' : 'icon-show'"
                    (click)="showPassword()"></span>
                </div>
              </div>
              <div class="form-group form-check">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" formControlName="RememberMe"> Remember Me
                    </label>
                  </div>
                  <div class="forgot-password col-md-6 text-right">
                    <a href="#" [routerLink]="['/forgot-password']"> Forgot Password?
                    </a>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary w-100" type="submit">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>